.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #808080;
}

.popup-container .icon {
    background-color: #ffffff;
    /*display: inline-block;*/
}

.popup-container {
    width: 75%;
    margin: 10vh auto;
    background-color: #ffffff;
    text-align: center;
    padding: 25px;
}

.popup-container img {
    height: 150px;
    width: 150px;
}

.message-text {
    font-weight: bold;
    font-size: 3rem;
    color: #808080;
}